# Hi,Please note that I don't have any domain knowledge of stocks and cryptos'.I am not aware of what these numbers are.I have done some research online but  it was some more complicated than I thought of,so as to complete the assignment I have made a lot of assumptions.I hope you would understand.Thanks

In [362]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

We are reading crypto data file in below line

In [363]:
data1=pd.read_csv('data/allcoinUSD.csv',header=None)

In [364]:
data1.head()

            0        1       2
0  1498860260  2630.94  0.0714
1  1498860287  2630.90  0.0240
2  1498860314  2630.94  0.0758
3  1498860338  2630.90  0.0285
4  1498860370  2630.95  0.0803

In [365]:
data1[0]=pd.to_datetime(data1[0],unit='s')
data1=data1.set_index(0,drop=True)
data1_new= data1[1].resample('60Min', how='ohlc')
data1_new['volume'] = data1[2].resample('60Min').sum()

C:\Users\Akshay\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).ohlc()
  This is separate from the ipykernel package so we can avoid doing imports until

In below roe, I have reset the index back to normal and I have removed the timestamp(will tell you further)

In [366]:
data1_new=data1_new.reset_index(drop=True)
data1_new.head()

      open     high      low    close   volume
0  2630.94  2631.45  2391.75  2391.78  24.9506
1  2391.76  2392.75  2389.76  2392.63  43.5163
2  2391.41  2392.89  2385.16  2391.84  53.5828
3  2392.29  2571.92  2391.40  2511.05  38.4715
4  2509.97  2590.90  2501.66  2580.00   8.7675

In below row, I have read the another csv file SP600, I have got it from Web API and is already in form of OHLC

In [367]:
data2=pd.read_csv('data/intraday_60min_CTL (1).csv')
data2['timestamp']=pd.to_datetime(data2['timestamp'])

In [368]:
data2.head()

            timestamp     open   high      low    close   volume
0 2018-02-15 16:00:00  19.0893  19.15  18.9150  19.1400  6389472
1 2018-02-15 15:00:00  19.0000  19.15  18.9000  19.0868  2145129
2 2018-02-15 14:00:00  18.6061  19.05  18.6061  19.0100  2690466
3 2018-02-15 13:00:00  18.5300  18.67  18.4800  18.6052  1037678
4 2018-02-15 12:00:00  18.5900  18.71  18.4200  18.5130  1902622

In row below,I have matched the timestamp of SP600 to previous crypto data thats why I have removed the timestamp first.As I was not able to find the exact timestamp data for SP600 and crypto.

In [369]:
data1_new['timestamp']=data2['timestamp']

In [370]:
data1_new.head()

      open     high      low    close   volume           timestamp
0  2630.94  2631.45  2391.75  2391.78  24.9506 2018-02-15 16:00:00
1  2391.76  2392.75  2389.76  2392.63  43.5163 2018-02-15 15:00:00
2  2391.41  2392.89  2385.16  2391.84  53.5828 2018-02-15 14:00:00
3  2392.29  2571.92  2391.40  2511.05  38.4715 2018-02-15 13:00:00
4  2509.97  2590.90  2501.66  2580.00   8.7675 2018-02-15 12:00:00

In [371]:
data1=data1_new.loc[:69,:]

In below row, I have interpolaed the missing values in the bitcoin data.

In [372]:
data1=data1.interpolate()

# Sheet 2 -I was only able to do this in correlation

In [373]:
data1.corrwith(data2)

open     -0.394915
high     -0.296628
low      -0.530166
close    -0.449444
volume    0.156748
dtype: float64

# Sheet 3 -Model Training (For determining the positive bets, I have created a new column that is going  to be 1 if the close price is higer than the opening price)

In [318]:
data2.head()

            timestamp     open   high      low    close   volume
0 2018-02-15 16:00:00  19.0893  19.15  18.9150  19.1400  6389472
1 2018-02-15 15:00:00  19.0000  19.15  18.9000  19.0868  2145129
2 2018-02-15 14:00:00  18.6061  19.05  18.6061  19.0100  2690466
3 2018-02-15 13:00:00  18.5300  18.67  18.4800  18.6052  1037678
4 2018-02-15 12:00:00  18.5900  18.71  18.4200  18.5130  1902622

In [319]:
data2['target']=np.where(data2['close']>data2['open'],1,0)

In [320]:
data2.head()

            timestamp     open   high      low    close   volume  target
0 2018-02-15 16:00:00  19.0893  19.15  18.9150  19.1400  6389472       1
1 2018-02-15 15:00:00  19.0000  19.15  18.9000  19.0868  2145129       1
2 2018-02-15 14:00:00  18.6061  19.05  18.6061  19.0100  2690466       1
3 2018-02-15 13:00:00  18.5300  18.67  18.4800  18.6052  1037678       1
4 2018-02-15 12:00:00  18.5900  18.71  18.4200  18.5130  1902622       0

In [321]:
from sklearn.model_selection import train_test_split

Below I have split the 10% data into test set

In [322]:
X=data2[['open','high','low','close','volume']]
y=data2['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

Below XGBClassifier imported as this is the classig=fication problem

In [327]:
from xgboost import XGBClassifier

In [328]:
classifier=XGBClassifier()

In [330]:
classifier.fit(X_train,y_train)

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

Below SVM imported

In [374]:
from sklearn import svm

In [376]:
svc=svm.SVC().fit(X_train,y_train)

We are going to use cross validation score to calculate accuracy

In [337]:
from sklearn.model_selection import cross_val_score

In [338]:
accuracies=cross_val_score(estimator=classifier,X=X_train,y=y_train,cv=10,n_jobs=1)



Below is mean of accuracies for XGboost

In [339]:
accuracies.mean()

0.60476190476190472

Below is mean of accuracies for SVM

In [377]:
accuracies=cross_val_score(estimator=svc,X=X_train,y=y_train,cv=10,n_jobs=1)

In [378]:
accuracies.mean()

0.55571428571428561

In [1]:
from sklearn.metrics import roc_auc_score